{{!-- <h1>Home Page</h1>
{{#if user}} 
<p>Logged in as {{user.username}}</p>
{{/if}} --}}

            <section id="top-houses">
                <h1>Top Houses</h1>
                <div class="houses">

                    {{#if data}}
                    <div class="card-home">
                        <h2>Real House Luxury Villa</h2>
                        <div class="cta-container"><a href="#" class="details-link">Details</a></div>
                        <div class="card_image"><img src="./static/images/5.jpg"></div>

                    </div>

                    <div class="card-home">
                        <h2>House Take Away</h2>
                        <div class="cta-container"><a href="#" class="details-link">Details</a></div>
                        <div class="card_image"><img src="./static/images/house2.jpg"></div>

                    </div>

                    <div class="card-home">
                        <h2>Sunhouse C21</h2>
                        <div class="cta-container"><a href="#" class="details-link">Details</a></div>
                        <div class="card_image"><img src="./static/images/apartments.jpg"></div>

                    </div>
                    {{else}}
                    <!-- If there are still no offers for housing in the database display: -->
                    <div class="no-data-container">
                        <p class="no-data">There are no housing offers found...</p>
                    </div>
                    {{/if}}
                </div>
            </section>

        {{!-- <div class="content">
            <h1>BUY & <br>SELL <span>Crypto</span></h1>
            <p>A crypto is a digital currency designed to work as a medium of <br>exchange through a computer network
                that is not reliant on any central authority.</p>
            <a href="/data/catalog" class="trade">TRADE</a>
        </div>

        <div class="coin-list">
            <div class="coin">
                <img src="/static/images/bitcoin.png">
                <div>
                    <h3>$31,166.71</h3>
                    <p>Bitcoin</p>
                </div>
            </div>
            <div class="coin">
                <img src="/static/images/ethereum.png">
                <div>
                    <h3>$2,338.55</h3>
                    <p>Ethereum</p>
                </div>
            </div>
            <div class="coin">
                <img src="/static/images/dogecoin.png">
                <div>
                    <h3>$0.09478</h3>
                    <p>Dogecoin</p>
                </div>
            </div>
        </div> --}}

        {{!-- if search: it is in homepage:
        we add only name="search" value="{{search}}"
        ==========================================
        <h1 class="text-center">Courses</h1>
<section>
    <a href="/data/create" class="btn btn-warning ">Create Course</a>
    <form class="search float-right">
        <label>Search: </label>
        <input type="text" name="search" value="{{search}}"> 
        <input type="submit" class="btn btn-primary" value="Search">
    </form>
</section>


{{#if data}}
<div class="container mt-3">
    <div class="row ">

        <div class="card-deck d-flex justify-content-center">
            {{#each data }}
            {{> partialdata username=../username}}
            {{/each}}

        </div>
    </div>
</div>
{{else}}
<h3 class="text-center">No courses...</h3>
{{/if}}
======================================================= --}}
